<div class="container content">
    <div class="row" data-ng-controller="PasswordController">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form data-ng-submit="resetUserPassword()" class="reg-page elevated"  autocomplete="off">
                <div class="reg-header">
                    <h3>Reset your password</h3>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="verifyPassword">Verify Password</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                </div>
                <hr>
                <div class="reg-footer">
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div data-ng-show="success" class="text-center text-success">
                        <strong data-ng-bind="success"></strong>
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-a btn-a-legendary btn-block">Reset password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
