<div  class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="reg-page reg-page-error">
                <div class="reg-header">
                    <h2>Password reset is invalid</h2>
                </div>
                <div class="text-center margin-bottom-20">
                    <a href="/#!/password/forgot">Ask for a new password reset</a>
                </div>
            </div>
        </div>
    </div>
</div>